<ion-list [inset]="false">

    <ion-item-divider class="list-header sticky-header">
        @for(column of displayColumns(); track $index) {

        <ion-label class="amount-cell-width">
            {{ labels()[column] }}
        </ion-label>
        }
    </ion-item-divider>

    @for(item of listData(); track item.Id){

    <ion-item button #listItem>

        @for(columnName of displayColumns(); track $index) {

        @if(isDate(item[columnName])) {
        <ion-label class="amount-cell-width">{{ item[columnName] | date }}</ion-label>
        } @else if (typeof item[columnName] === 'number') {
        <ion-label class="amount-cell-width">{{ item[columnName] | number:'1.2-2' }}</ion-label>
        } @else {
        <ion-label class="amount-cell-width">{{ item[columnName] }}</ion-label>
        }
        }

    </ion-item>
    }
</ion-list>