<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Storico
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="clearAllMovements()" color="danger">
        <ion-icon name="trash-bin-outline">
        </ion-icon>
      </ion-button>
      <ion-button (click)="reloadList()">
        <ion-icon name="refresh-outline" class="refresh-icon">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
  <list [listData]="listData()" [displayColumns]="displayColumns" [labels]="labels()" />
</ion-content>